@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/quicksand-v21-latin-300.woff2") format("woff2"),
       url("../fonts/quicksand-v21-latin-300.woff") format("woff");
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/quicksand-v21-latin-regular.woff2") format("woff2"),
       url("../fonts/quicksand-v21-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/quicksand-v21-latin-700.woff2") format("woff2"),
       url("../fonts/quicksand-v21-latin-700.woff") format("woff");
}


@font-face {
  font-family: "Waiting for the Sunrise";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/waiting-for-the-sunrise-v11-latin-regular.woff2") format("woff2"),
       url("../fonts/waiting-for-the-sunrise-v11-latin-regular.woff") format("woff");
}